[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
numpy = "*"
tqdm = "*"
matplotlib = "*"

[dev-packages]
pytest = "*"
jupyter = "*"
pytest-pycodestyle = "*"
pytest-cov = "*"
pytest-html = "*"
pytest-mock = "*"
ptpython = "*"
